.carousel-container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 6s ease-in-out;
}

.carousel-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.carousel-page:nth-child(1) {
  transform: rotateY(0deg) translateZ(100%);
}

.carousel-page:nth-child(2) {
  transform: rotateY(90deg) translateZ(100%);
}
