.carousel-container {
  perspective: 1000px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.carousel-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.carousel-next-enter {
  transform: rotateY(180deg);
}

.carousel-next-enter-active {
  transform: rotateY(0deg);
  transition: transform 500ms;
}

.carousel-next-exit {
  transform: rotateY(0deg);
}

.carousel-next-exit-active {
  transform: rotateY(-180deg);
  transition: transform 500ms;
}

.carousel-prev-enter {
  transform: rotateY(-180deg);
}

.carousel-prev-enter-active {
  transform: rotateY(0deg);
  transition: transform 500ms;
}

.carousel-prev-exit {
  transform: rotateY(0deg);
}

.carousel-prev-exit-active {
  transform: rotateY(180deg);
  transition: transform 500ms;
}
